/* Aplicando tipografías, estilo de listas, alineación de textos, color de fondo, imagen de fondo, padding, margins y borders */
@media screen and (min-width: 320px) {
/* Reseteo CSS */ 
* { 
     padding: 0;
     margin: 0;
}
/* aplicando grid layout 3 filas*/
.container {
        display: grid;
        height: 100vh;
        grid-template-rows:  0.1fr 5fr 0.1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
} 
/*header sticky */  
        .containerH {
            position:-webkit-sticky;
            position: sticky;
            top: 0px;
            grid-row: 1;
            width: 100% ;
            grid-area: header;
            background-color: rgb(123, 197, 136);
            z-index: 1;
        }
/*main */       
        .containerM {
            grid-row: 2 ;
            grid-area: main;
            width: 100% ;
            background-color: rgb(255, 255, 255);
        }
/*pie de pagina */
        .containerF {
            grid-row: 3 ;
            grid-area: footer;
            width: 100% ;
            background-color: rgb(160, 181, 164);
        }
    /*componentes en flexbox*/
/* disposición logo e icono hamburguesa */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
}
/*tamaño logo*/
img{
    min-width: 20%;
    max-width: 20%;
}
/*imagen de fondo cubritiva*/
main {
    background-repeat:no-repeat;
    background-size:auto;
}
/**/
/*icono hamburguesa*/
.hamburguesa {
  display:list-item;
  align-content:space-between;
  border: none;
  cursor: pointer;
  list-style-type: none;
}
/* composicion boton hamburguesa*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotado primera barra */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Se desvanece la segunda barra */
.change .bar2 {
  opacity: 0;
}

/* Rotado tercera barra */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
/**/
/**/

/* necesario para posicionar el menu desplegable */
.dropdown {
  position: relative;
  display: block;
  align-items: center;
  padding-top: 4vw;
  padding-right: 20px;
}
/* menu desplegable, posicion absoluta con medidas relativas para facil escalado, centrado de links*/
.dropdown-content {
  display: none;
  position:absolute;
  right: 0vw;
  top:100%;
  width: 100vw;
  text-align: center;
  flex-flow: column nowrap;
  background-color: rgb(123, 197, 136);
  box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* mostrar el menu ( se usa JS para agregar esta variable al .dropdown-content cuando el usuario haga click en el boton hamburguesa) */
.show {
  display:flex;
}

/* quito el subrayado y le doy color blanco a los links */
a {
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
/*animacion al pasar por encima con el cursor*/
a:hover { 
    text-decoration: underline;
 } 

 /**//**//**/
 /**//**//**/
/* flex para titulo y anclaje */
.mSection {
    display: flex;
    flex-flow: column nowrap ;
    height:100%;
    width: 100%;
}
/* genera un anclaje de fondo translucido, fondo blanco, alineacion de texto izquierda, fuente Arial */
.mSectionText {
    height: cover;
    opacity: 80%;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
}
/*flex footer*/
.mSection--f {
    display: flex;
    flex-flow: column nowrap ;
    justify-content: center;
    height:100%;
    width: 100%;
}
/*flex productos */
.mSection--p {
    display: flex;
    flex-flow: column nowrap ;
    justify-content: space-evenly;
    height:100%;
    width: 100%;
}
/*listado vertical de a 3 objetos*/
.productos {
    display: flex;
    flex-flow: column nowrap;
}
/* urls de las imagenes de fondo */
.imgNovo {
    background-image: url(../images/fabrica/cerca_1.jpeg);
    
}
.imgNosotros {
    background-image: url(../images/fabrica/fachada.jpeg);
    max-width: 100%;
}
.imgProductos {
    background-image: url(../images/fabrica/testimo1.jpeg);
    max-width: 100%;
}
.imgPolimer {
    background-image: url(../images/fabrica/polimers.jpeg);
    max-width: 100%;
}
.imgContacto {
    background-image: url(../images/fabrica/contactanos.jpeg);
    max-width: 100%;
}

}

@media screen and (min-width: 1024px) {
/*reseteando margen y distancia al borde */
  * { 
    padding: 0;
    margin: 0;
}
/*grid layout*/          
    /*componentes en flexbox*/
/* Aplicando tipografías, estilo de listas, alineación de textos, color de fondo, imagen de fondo, padding, margins y borders */
/*desaparece el icono*/
.hamburguesa {
  display: none;
}
/*div hamburguesa*/
.dropdown{
  width:10vw;
  align-content:space-between;
}
/*menu desplegable reformateado a horizontal*/
/* flex, ubico los links, quito bullets, enlistados en linea*/
.dropdown-content {
  display: flex;
  position:fixed;
  top:6vh;
  width: 70vw;
  right:1vw;
  flex-flow: row nowrap;
  box-shadow: none;
  z-index: 0;
  justify-content: space-between;
}
/* quito el subrayado y le doy fuente Arial, grande, y color blanco a los links */
a {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: larger;
}
/* se ubica una imagen, como fondo del div */
main {
    background-repeat:no-repeat;
    background-size:cover;
}
}