/* composicion boton hamburguesa*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $white;
    margin: 6px 0;
    transition: 0.4s;
  }
  /* Rotado primera barra */
.change {
    .bar1 {
    -webkit-transform: $change0;
    transform: $change0;
    }
  /* Se desvanece la segunda barra */
    .bar2 {
    opacity: 0;
    }
  /* Rotado tercera barra */
    .bar3 {
    -webkit-transform: $change;
    transform: $change;
    }
}
  /**/
  /*animacion carga pagina*/
  @keyframes ldio-46nhicw2h1x {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-46nhicw2h1x div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #1d9430;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-46nhicw2h1x div {
    animation: ldio-46nhicw2h1x 1s linear infinite;
    top: 100px;
    left: 100px
  }
  .loadingio-spinner-rolling-v9iovy66pyj {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-46nhicw2h1x {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-46nhicw2h1x div { box-sizing: content-box; }
  /**/
  .thumbnail:hover {
    background-color: black;
    opacity: 1.0;
    }
  /* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fabrica/testimo1.jpeg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*animacion hover*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.c1:hover .overlay {
  opacity: 0.7;
}
.c2:hover .overlay {
  opacity: 0.7;
}
.c3:hover .overlay {
  opacity: 0.7;
}
.c4:hover .overlay {
  opacity: 0.7;
}