.container {
    display: grid;
    /* 2 columnas */
   /* grid-template-columns: 300px 100px;
    /* 2 filas */
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "Nav"
    "main"
    "footer"
   }
.container__element1 {
    grid-row: 1;
    width: 100% ;
    grid-area: Nav;
    background-image: var(--image1);
    background-color: rgb(123, 197, 136);
}
.container__element2 {
    grid-row: 2 ;
    grid-area: main;
    background-image: var(--image2);
    background-color: rgb(123, 197,136);
}
.container__element3 {
    grid-row: 3 ;
    grid-area: footer;
    background-image: var(--image3);
    background-color: rgb(123, 197,136);
}